
$primary: #9356DC;
$secondary: #FF79DA;
$light-secondary: #F0B7EC;
$tertiary: #99E2D0;
$tertiary-dark : #1E997B;
$darkest-indexheader-grey: #D7D7D7;
$light-indexheader-grey: #EAEAEA;
$standard-light-grey: #F6F6F6;
$operations-hover: #F5EDFF;
$logo-passive: #7E7E7E;
$logo-dark: #525252;
$standard-box-shadow: #0000002e;
$footer-background-color: #353535;