
$primary: #9356DC;
$seconary: #FF79DA;
$light-secondary: rgb(240, 183, 236);
$tertiary: #99E2D0;
$darkest-indexheader-grey: rgb(215, 215, 215);
$light-indexheader-grey: rgb(234, 234, 234);
$standard-light-grey: rgb(246, 246, 246);
$logo-passive: rgb(126, 126, 126);
$standard-box-shadow: #0000002e;
$footer-background-color: rgb(53, 53, 53);