html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0px;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
}
header {
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    width: 100%;
    div {
        margin-left: auto;
        margin-right: auto;
        width: 8em;
        text-align: center; 
        width: 100%;
        background-color: $light-indexheader-grey;
        @media screen and (min-width: 481px) {
            height: 50px;
    }
    }
}
img {
    margin: -4px;
    border-radius: 15px;
    width: 320px;
    height: 200px;
    object-fit: cover;
}
h3, 
h4 {
    margin: 2px;
}
a {
    text-decoration: none;
    color: inherit;
}
footer {
    margin-top: 5.7%;
    background-color: $footer-background-color;
    img {
        margin-top: 10px;
        color: white;
        object-fit: contain;
        width: 100px;
        height: 20px;
        @media screen and (min-width: 481px) {         
            width: 100px;
            height: 25px;
            margin-bottom: -8px;
        }
    }
    div {
        margin: 10px 0px 10px 20px;
        color: white;
        cursor: pointer;
        @media screen and (min-width: 481px) {         
            margin: 10px 20px 20px 20px;
        }
    }
    @media screen and (min-width: 481px) {
        margin-top: 0px;
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
       justify-content: space-evenly;
    }
}
.header-image {
    margin: 0px;
    width: 200px;
    height: 65px;
    border-bottom: 2px $darkest-indexheader-grey solid;
    display: block;
    padding: 0.25rem 5.45rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border-radius: 0px; 
}
.fa-map-marker-alt {
    margin: 20px 10px 20px -20px;
}
#reservation {
    background-color: $standard-light-grey;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
    h2, 
    p {
        padding: 0px 20% 0px 20%;
        margin-top: 0px;
    }
    h2 {
        padding-top: 12px;
    }
}
#command {
    background-color: $standard-light-grey;
    min-width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding-bottom: 0px;
}
#reservation button,
#command button {
    border-radius: 55px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: $secondary;
    background: linear-gradient($secondary,$primary);
    border: 0px transparent;
    color: white;
    box-shadow: 4px 4px 2px $light-box-shadow;
}
#reservation button:hover,
#command button:hover {
    cursor: pointer;
    background: ($light-secondary);
}
#operations {
    margin: 10px;
    @media screen and (min-width: 481px) {
        h2 {
            margin-right: 15px; 
        }
    }
    p {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        background-color: $standard-light-grey;
        border-radius: 20px;
        height: 65px;
        width: 98%;
        margin-left: 1%;
        box-shadow: 5px 5px 10px 0px $dark-box-shadow;
        &:hover  {
            i {
                transition: background-color 0.5s ease;
                cursor: pointer;
                color: $primary;    
                }
            }
        @media screen and (min-width: 481px) {
                width: 280px;
                margin-right: 15px; 
        }

    }
    p:hover {
        background-color: $operations-hover;
        cursor: pointer;
    }
    i {
        color: $logo-passive;
        margin: 0px 10px 0px 0px;  
    } 
    @media screen and (min-width: 481px) {   
        display: flex;
        flex-flow: row wrap;
        align-items: baseline;
        justify-content: space-around;
    }
}
.highlighted-number {
    padding: 3px 8px 3px 8px;
    margin: 0px 10px 0px -10px;
    color: white;
    border-radius: 50px;
    background-color: $primary;
}
#restaurants {
    display: flex;
    flex-flow: column nowrap;
    align-items: center ;
    background-color: $standard-light-grey;
    @media screen and (min-width: 481px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    h2 {
        margin-left: -188px;
        @media screen and (min-width: 481px) {   
            width: 100%;
            margin-left: 27px;
        }
    }
    article {
        box-shadow: 0 0 20px $dark-box-shadow;
        background-color: white;
        border-radius: 15px;
        margin: 2%;
        padding: 5px;
        .txt {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
        }
        i {
            margin: 15px 10px 5px 0px;
            color:  $logo-dark;
        }
    }
    .fas {
        color: transparent;
    }
    .logo-holder:hover {
        .fas {
            background: -webkit-gradient(linear, left top, left bottom, from($primary), to($secondary));
            background-clip: inherit;
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
            background-color: white;
            animation: 5s ease 1 heart-hover;
            cursor: pointer;
        }
        .far {
            width: 0px;
            height: 0px;
            margin: 0px;
            color: transparent;
        }
    }
}
@keyframes heart-hover {
    to {transform: scale(1.5);}
}
.new {
    background-color: $tertiary;
    color: $tertiary-dark;
    text-align: center;
    width: 68px;
    margin: -185px 0px 200px 235px;
    position: absolute;
    z-index: 10;
    border-radius: 3px;
    p {
        margin: 0px;
        padding: 3px;
    }
}
.fa-arrow-left {
    height: 20px;
    width: 20px;
    padding: 43px 10px 24px 10px;
    z-index: 10;
}
h3 span {
    color: transparent;
}
.loader {
    display: flex;
    flex-flow: nowrap row;
    align-items: center;
    z-index: 99;
    background-color: #D7D7D7;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: 2.3s ease 0s 1 hidder;
}
.bar {
    border-radius: 50px;
    width: 1.25em;
    animation: 0.9s ease-in-out 0s 2 loader-animation;
}
#bar-1  {
  background-color: $primary;
}
#bar-2  {
  background-color: $secondary;
  animation-delay: 0.25s;
}
#bar-3  {
  background-color: $tertiary;
  animation-delay: 0.5s;
}
@keyframes loader-animation {
    0% {height: 22em;
        transform: rotate(0deg)}
    12% {height: 19em}
    25% {height: 16em}
    37% {height: 19em}
    50% {height: 22em}
    62% {height: 25em}
    75% {height: 28em}
    87% {height: 25em}
    100% {height: 22em;
        transform: rotate(360deg)}
}
@keyframes hidder {
    0% {
        position:fixed;
        padding:0;
        margin:0;
        top:0;
        left:0;
        width: 100%;
        min-height: 40em;
        opacity: 1;
    }
    99% {
        width: 100%;
        min-height: 40em;
        opacity:1;
    }
    100% {
        position: relative;
        width:0%;
        height:0px;
        opacity:0;
    }
}
