
body {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
section article {
    width: 98%;
}
img {
    width: 310px;
    object-fit: contain;
}
.highlighted-number {
    
}