html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

header div {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
  width: 100%;
  background-color: #EAEAEA;
}

img {
  margin: -4px;
  border-radius: 15px;
  width: 320px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 481px) {
  header div {
    height: 50px;
  }
}

h3,
h4 {
  margin: 2px;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  margin-top: 5.7%;
  background-color: #353535;
}

footer img {
  margin-top: 10px;
  color: white;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 20px;
}

footer div {
  margin: 10px 0px 10px 20px;
  color: white;
}

@media screen and (min-width: 481px) {
  footer {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.header-image {
  margin: 0px;
  width: 200px;
  height: 65px;
  border-bottom: 2px #D7D7D7 solid;
  display: block;
  padding: 0.25rem 5.45rem;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0px;
}

.fa-map-marker-alt {
  margin: 20px 10px 20px -20px;
}

#reservation {
  background-color: #F6F6F6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#reservation h2,
#reservation p {
  padding: 0px 20% 0px 20%;
  margin-top: 0px;
}

#command {
  background-color: #F6F6F6;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0px;
}

#reservation button,
#command button {
  border-radius: 55px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #FF79DA;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border: 0px transparent;
  color: white;
  -webkit-box-shadow: 5px 5px 5px #0000002E;
          box-shadow: 5px 5px 5px #0000002E;
}

#reservation button:hover,
#command button:hover {
  background: #F0B7EC;
}

#operations {
  margin: 10px;
}

#operations p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
  border-radius: 20px;
  height: 65px;
  width: 98%;
  margin-left: 1%;
  -webkit-box-shadow: 0 0 5px 5px #0000002E;
          box-shadow: 0 0 5px 5px #0000002E;
}

#operations p:hover i {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #9356DC;
}

#operations p:hover {
  background-color: #F5EDFF;
}

#operations i {
  color: #7E7E7E;
  margin: 0px 10px 0px 0px;
}

@media screen and (min-width: 481px) {
  #operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #operations h2 {
    margin-right: 15px;
  }
  #operations p {
    width: 280px;
    margin-right: 15px;
  }
}

.highlighted-number {
  padding: 3px 8px 3px 8px;
  margin: 0px 10px 0px -10px;
  color: white;
  border-radius: 50px;
  background-color: #9356DC;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6;
}

#restaurants h2 {
  margin-left: -188px;
}

#restaurants article {
  -webkit-box-shadow: 0 0 20px #0000002E;
          box-shadow: 0 0 20px #0000002E;
  background-color: white;
  border-radius: 15px;
  margin: 2%;
  padding: 5px;
}

#restaurants article .txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants article i {
  margin: 15px 10px 5px 0px;
  color: #525252;
}

#restaurants .fas {
  color: transparent;
}

#restaurants .logo-holder:hover .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  -webkit-animation: 5s ease 1 heart-hover;
          animation: 5s ease 1 heart-hover;
}

#restaurants .logo-holder:hover .far {
  width: 0px;
  height: 0px;
  margin: 0px;
  color: transparent;
}

@-webkit-keyframes heart-hover {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes heart-hover {
  to {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.new {
  background-color: #99E2D0;
  color: #1E997B;
  text-align: center;
  width: 68px;
  margin: -185px 0px 200px 235px;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
}

.new p {
  margin: 0px;
  padding: 3px;
}

@media screen and (min-width: 481px) {
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #restaurants h2 {
    width: 100%;
    margin-left: 27px;
  }
}

.fa-arrow-left {
  height: 20px;
  width: 20px;
  padding: 43px 10px 24px 10px;
  z-index: 10;
}

h3 span {
  color: transparent;
}

@media screen and (min-width: 481px) {
  footer img {
    width: 100px;
    height: 25px;
    margin-bottom: -8px;
  }
  footer div {
    margin: 10px 20px 20px 20px;
  }
}

.loader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: nowrap row;
          flex-flow: nowrap row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 99;
  background-color: #D7D7D7;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
  -webkit-animation: 2.5s ease 0s 1 hidder;
          animation: 2.5s ease 0s 1 hidder;
}

.bar {
  width: 1.25em;
  -webkit-animation: 0.9s ease-in-out 0s 2 loader-animation;
          animation: 0.9s ease-in-out 0s 2 loader-animation;
}

#bar-1 {
  background-color: #9356DC;
}

#bar-2 {
  background-color: #FF79DA;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

#bar-3 {
  background-color: #99E2D0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes loader-animation {
  0% {
    height: 22em;
  }
  12% {
    height: 19em;
  }
  25% {
    height: 16em;
  }
  37% {
    height: 19em;
  }
  50% {
    height: 22em;
  }
  62% {
    height: 25em;
  }
  75% {
    height: 28em;
  }
  87% {
    height: 25em;
  }
  100% {
    height: 22em;
  }
}

@keyframes loader-animation {
  0% {
    height: 22em;
  }
  12% {
    height: 19em;
  }
  25% {
    height: 16em;
  }
  37% {
    height: 19em;
  }
  50% {
    height: 22em;
  }
  62% {
    height: 25em;
  }
  75% {
    height: 28em;
  }
  87% {
    height: 25em;
  }
  100% {
    height: 22em;
  }
}

@-webkit-keyframes hidder {
  0% {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40em;
    opacity: 1;
  }
  99% {
    width: 100%;
    min-height: 28em;
  }
  100% {
    position: relative;
    width: 0%;
    height: 0px;
    opacity: 0;
  }
}

@keyframes hidder {
  0% {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 40em;
    opacity: 1;
  }
  99% {
    width: 100%;
    min-height: 28em;
  }
  100% {
    position: relative;
    width: 0%;
    height: 0px;
    opacity: 0;
  }
}

#header-image-restaurants {
  z-index: -1;
  margin: -75px 0px 0px 0px;
  border-bottom: transparent;
}

#top-image {
  border-radius: 0px;
  width: 100%;
  height: 250px;
  margin: -2px 0px 0px 0px;
}

#restaurants-section {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem;
  background-color: #F6F6F6;
  z-index: 1;
}

#restaurants-section section:hover {
  left: 4px;
}

#restaurants-section h2 {
  font-family: 'Shrikhand';
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants-section h2 span {
  margin-right: 45px;
}

#restaurants-section h2 .fas {
  color: transparent;
}

#restaurants-section h2 .logo-holder:hover .fas {
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  background-clip: inherit;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: white;
  -webkit-animation: 5s ease 1 heart-hover-restaurants;
          animation: 5s ease 1 heart-hover-restaurants;
}

#restaurants-section h2 .logo-holder:hover .far {
  width: 0px;
  height: 0px;
  margin: 0px;
  color: transparent;
}

#restaurants-section .container-div {
  background-color: white;
  -webkit-box-shadow: 0 0 20px #0000002E;
          box-shadow: 0 0 20px #0000002E;
  border-radius: .75rem;
  height: 60px;
  margin: 1rem 0;
}

#restaurants-section .text-holder {
  padding: 8px 3px 3px 4px;
}

#restaurants-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants-section h3 {
  width: 40px;
  height: 22px;
  border-bottom: 2px solid #99E2D0;
}

#restaurants-section #text {
  width: 0px;
}

#restaurants-section p {
  margin: 3px;
}

#restaurants-section strong {
  margin-right: 8px;
}

.container-div {
  margin: 0px;
  padding: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container-div:hover ~ .slide:after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-animation: spin .5s ease-in-out;
          animation: spin .5s ease-in-out;
}

.menu-title {
  -webkit-animation: 0.5s ease-out 0s 1 item-pop;
          animation: 0.5s ease-out 0s 1 item-pop;
}

.menu-one {
  -webkit-animation: 0.5s ease-out 0.5s 1 item-pop;
          animation: 0.5s ease-out 0.5s 1 item-pop;
}

.menu-two {
  -webkit-animation: 0.5s ease-out 1s 1 item-pop;
          animation: 0.5s ease-out 1s 1 item-pop;
}

.menu-three {
  -webkit-animation: 0.5s ease-out 1.5s 1 item-pop;
          animation: 0.5s ease-out 1.5s 1 item-pop;
}

.menu-four {
  -webkit-animation: 0.5s ease-out 2s 1 item-pop;
          animation: 0.5s ease-out 2s 1 item-pop;
}

@-webkit-keyframes item-pop {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

@keyframes item-pop {
  0% {
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  50% {
    -webkit-transform: scaleY(0.5);
            transform: scaleY(0.5);
  }
  100% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
}

.section {
  overflow: hidden;
  -webkit-transition: all 0.9s ease-out;
  transition: all 0.9s ease-out;
  height: auto;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.section.slide {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  position: relative;
  background: #99E2D0;
  border-radius: 0 .75rem .75rem  0px;
}

.container-div:hover .section.slide {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.section:hover ~ .slide:after {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.text-holder p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide:after {
  color: #fff;
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  position: absolute;
  width: 16px;
  height: 18px;
  display: inline-block;
}

#footer-restaurants {
  margin: 0px;
}

#footer-restaurants-long {
  margin-top: 2px;
}

@media screen and (min-width: 481px) {
  #header-image-restaurants {
    margin: -74px auto 2px auto;
  }
  #top-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
  }
  #restaurants-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #restaurants-section h2 {
    width: 100%;
  }
  #restaurants-section section {
    width: 31%;
    margin: 0.75%;
  }
  #footer-restaurants-long {
    margin-top: -14px;
  }
}

@-webkit-keyframes heart-hover-restaurants {
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}

@keyframes heart-hover-restaurants {
  to {
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
  }
}
/*# sourceMappingURL=style.css.map */