@import "colors";
@import "general";
.header-image {
    margin: 0px;
    width: 200px;
    height: 65px;
    border-bottom: 2px $darkest-indexheader-grey solid;
    display: block;
    padding: 0.25rem 5.45rem;
    margin-left: auto;
    margin-right: auto;
    object-fit: contain;
    border-radius: 0px; 
}
header div {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
    text-align: center; 
    width: 100%;
    background-color: $light-indexheader-div;
}
.fa-map-marker-alt {
    margin: 20px 10px 20px -20px;
}
#reservation {
    background-color: $standard-light-grey;
    margin-left: auto;
    margin-right: auto;   
    text-align: center;
}
#reservation h2, 
#reservation p {
    padding: 0px 20% 0px 20%;
    margin-top: 0px;
}
#reservation button,
#command button {
    border-radius: 55px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: $seconary;
    border: 0px transparent;
    color: white;
}
#command {
    background-color: $standard-light-grey;
    min-width: 100%;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding-bottom: 0px;
}
#reservation button:hover,
#command button:hover {
    background-color: $light-secondary;
}
#operations {
    margin: 10px;
}
#operations p {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    background-color: $standard-light-grey;
    border-radius: 55px;
    height: 55px;
    width: 280px;
    &:hover  {
        i {
        transition: background-color 0.5s ease;
        color: $primary;    
        }
        }
}
#operations p:hover {
    background-color: rgb(245, 237, 255);
}
.highlighted-number {
    padding: 3px 8px 3px 8px;
    margin: 0px 10px 0px -3px;
    color: white;
    border-radius: 50px;
    background-color: $primary;
}
#operations i {
    color: $logo-passive;
    margin: 0px 10px 0px 0px;  
} 
#restaurants {
    display: flex;
    flex-flow: column nowrap;
    align-items: center ;
    background-color: $standard-light-grey;
}
#restaurants h2 {
    margin-left: -188px;
}
#restaurants article {
    box-shadow: 0 0 20px $standard-box-shadow;
    background-color: white;
    border-radius: 15px;
    margin: 2%;
    padding: 5px;
}
.new {
    background-color: rgb(153, 226, 208);
    color: rgb(30, 153, 123);
    text-align: center;
    width: 68px;
    margin: -185px 0px 200px 235px;
    position: absolute;
    z-index: 10;
    border-radius: 3px;
}
.new p {
    margin: 0px;
    padding: 3px;
}
article div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
article i {
    margin: 15px 10px 5px 0px;
    color:  rgb(82, 82, 82);
}
#restaurants i:hover {
    color: $primary;
}
.fa-heart:active {
    color: $primary;
}
footer img {
    margin-top: 10px;
    color: white;
    object-fit: contain;
    width: 100px;
    height: 20px;
}
footer div {
    margin: 10px 0px 10px 20px;
    color: white;
}
.fa-arrow-left {
    margin: 43px 1px 0px 10px;
}
#header-image-restaurants {
    margin: -44px 0px 2px 0px;
    border-bottom: transparent;
}
#top-image {
    border-radius: 0px;
    width: 100%;
    height: 250px;
    margin:-2px 0px 0px 0px;    
}
#restaurants-section {
    margin-top: -4rem;
    border-radius: 2rem 2rem 0 0;
    padding: 0.5rem;
    background-color: #f6f6f6;
    z-index: 1;
}
#restaurants-section section:hover {
    left:4px ;
}
#restaurants-section h2 {
    font-family: 'Shrikhand';
    font-size: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#restaurants-section h2 i {
    margin: 0px 8px 0px 0px;
}
#restaurants-section div {
    background-color: white;
    box-shadow: 0 0 20px $standard-box-shadow;
    border-radius: .75rem;
    padding: 0.25rem;
    margin: 1rem 0;
}
#restaurants-section p {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
#restaurants-section h3{
    width: 45px;
    height: 25px;
}
#restaurants-section h3::after {
    content: "____";
    border-bottom: 2px solid $tertiary;
    color:transparent;
    margin: 0px 0px 0px -90px;
}
#restaurants-section p {
    margin: 3px;
}
#restaurants-section strong {
    margin-right: 8px;
}
#footer-restaurants {
    margin: 0px;
}
#footer-restaurants-long {
    margin-top: 2px;
}
h3 span {
    color: transparent;
}