html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.header-image {
  width: 200px;
  height: 65px;
  border-bottom: 2px #d7d7d7 solid;
  display: block;
  padding: 0.25rem 5.45rem;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0px;
}

header div {
  margin-left: auto;
  margin-right: auto;
  width: 8em;
  text-align: center;
  width: 100%;
  background-color: #eaeaea;
}

.fa-map-marker-alt {
  margin: 20px 10px 20px -20px;
}

#reservation {
  background-color: #f6f6f6;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#reservation h2,
#reservation p {
  padding: 0px 20% 0px 20%;
  margin-top: 0px;
}

#reservation button,
#command button {
  border-radius: 55px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #e170da;
  border: 0px transparent;
  color: white;
}

#command {
  background-color: #f6f6f6;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0px;
}

#reservation button:hover,
#command button:hover {
  background-color: #f0b7ec;
}

#operations {
  margin: 10px;
}

#operations p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
  border-radius: 55px;
  height: 55px;
  width: 280px;
}

#operations p:hover i {
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: #9356dc;
}

#operations p:hover {
  background-color: #f5edff;
}

.highlighted-number {
  padding: 3px 8px 3px 8px;
  margin: 0px 10px 0px -3px;
  color: white;
  border-radius: 50px;
  background-color: #9356dc;
}

#operations i {
  color: #7e7e7e;
  margin: 0px 10px 0px 0px;
}

#restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f6f6f6;
}

#restaurants h2 {
  margin-left: -188px;
}

#restaurants article {
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  background-color: white;
  border-radius: 15px;
  margin: 2%;
  padding: 5px;
}

img {
  margin: -4px;
  border-radius: 15px;
  width: 320px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.new {
  background-color: #99e2d0;
  color: #1e997b;
  text-align: center;
  width: 68px;
  margin: -185px 0px 200px 235px;
  position: absolute;
  z-index: 10;
  border-radius: 3px;
}

.new p {
  margin: 0px;
  padding: 3px;
}

h3,
h4 {
  margin: 2px;
}

article div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

article i {
  margin: 15px 10px 5px 0px;
  color: #525252;
}

#restaurants i:hover {
  color: #9356dc;
}

.fa-heart:active {
  color: #9356dc;
}

footer {
  margin-top: 5.7%;
  background-color: #353535;
}

footer img {
  margin-top: 10px;
  color: white;
  -o-object-fit: contain;
     object-fit: contain;
  width: 100px;
  height: 20px;
}

footer div {
  margin: 10px 0px 10px 20px;
  color: white;
}

.fa-arrow-left {
  margin: 43px 1px 0px 10px;
}

#header-image-restaurants {
  margin: -44px 0px 2px 0px;
  border-bottom: transparent;
}

#top-image {
  border-radius: 0px;
  width: 100%;
  height: 250px;
  margin: -2px 0px 0px 0px;
}

#restaurants-section {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  padding: 0.5rem;
  background-color: #f6f6f6;
  z-index: 1;
}

#restaurants-section section:hover {
  left: 4px;
}

#restaurants-section h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants-section h2 i {
  margin: 0px 8px 0px 0px;
}

#restaurants-section div {
  background-color: white;
  -webkit-box-shadow: 0 0 20px #0000002e;
          box-shadow: 0 0 20px #0000002e;
  border-radius: .75rem;
  padding: 0.25rem;
  margin: 1rem 0;
}

#restaurants-section p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#restaurants-section h3 {
  width: 45px;
  height: 25px;
}

h3 span {
  color: transparent;
}

#restaurants-section h3::after {
  content: "____";
  border-bottom: 2px solid #99e2d0;
  color: transparent;
  margin: 0px 0px 0px -90px;
}

#restaurants-section p {
  margin: 3px;
}

#restaurants-section strong {
  margin-right: 8px;
}

#footer-restaurants {
  margin: 0px;
}

@media screen and (min-width: 481px) {
  header div {
    height: 50px;
  }
  #operations {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  #operations h2,
  #operations p {
    margin-right: 15px;
  }
  #restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  #restaurants h2 {
    width: 100%;
    margin-left: 27px;
  }
  footer {
    margin-top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  footer img {
    width: 100px;
    height: 25px;
    margin-bottom: -8px;
  }
  footer div {
    margin: 10px 20px 20px 20px;
  }
  #header-image-restaurants {
    margin: -44px auto 2px auto;
  }
  #top-image {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
  }
  #restaurants-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }
  #restaurants-section h2 {
    width: 100%;
  }
  #restaurants-section section {
    width: 31%;
    margin: 0.75%;
  }
  #footer-restaurants {
    margin-top: -14px;
  }
}
/*# sourceMappingURL=style.css.map */